/*-------------------------------------------------------*/
/* COLORS */
/*-------------------------------------------------------*/
$white: rgb(255, 255, 255);

$black: rgb(0, 0, 0);

$main-black: rgb(17, 17, 17);
$main-black-opacity: rgba(17, 17, 17, 0.4);

$dark-white: rgb(191, 191, 191);

$light-grey-devider: rgb(153, 153, 153);

$main-grey-desc: rgb(126, 125, 125);

$main-grey-devider: rgb(242, 242, 242);
$main-grey-devider-opac: rgba(242, 242, 242, 0.4);

$main-border: rgb(204, 204, 204);


$white-opacity: rgba(255, 255, 255, 0.4);