.block-editor__container .editor-styles-wrapper {
	--light-color: #fff;
	--dark-color: #111;
	--grey-color: #7e7d7d;
	--soft-grey-color: #f0f0f0;
	font-size: 16px;
	line-height: 32px;
	font-weight: 400;
	color: var(--dark-color);
	position: relative;
	background: var(--light-color);
	*:not(.mce-ico) {
		font-family: "Roboto", sans-serif;
	}
}

@media (min-width: 576px) {
	.wp-block,
	.wp-block[data-align=wide] {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.wp-block,
	.wp-block[data-align=wide] {
		max-width: 748px;
	}
}

@media (min-width: 992px) {
	.wp-block,
	.wp-block[data-align=wide] {
		max-width: 988px;
	}
}

@media (min-width: 1200px) {
	.wp-block,
	.wp-block[data-align=wide] {
		max-width: 1168px;
	}
}

.editor-block-list__layout .editor-block-list__block[data-align=full] {
	margin-right: auto;
	margin-left: auto;
}

.editor-block-list__layout .editor-block-list__block[data-align=full] {
	max-width: calc(100% - 30px);
}

@media (min-width: 576px) {
	.editor-block-list__layout .editor-block-list__block[data-align=full] {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.editor-block-list__layout .editor-block-list__block[data-align=full] {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.editor-block-list__layout .editor-block-list__block[data-align=full] {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.editor-block-list__layout .editor-block-list__block[data-align=full] {
		max-width: 1140px;
	}
}

.editor-block-list__block[data-type="core/button"][data-align=center] {
	clear: both;
}

.wp-block-button__link {
	font-weight: 400;
	line-height: 1.73;
}

.editor-styles-wrapper ul ul,
.editor-styles-wrapper ol ul{
	list-style: disc!important;
}

.edit-post-visual-editor {
	.editor-post-title {
		padding-left: 46px;
		padding-right: 46px;
		word-break: break-word;
		margin-top: 0;
		margin-bottom: 20px;
		.editor-post-title__input {
			letter-spacing: 0.9px;
			color: #111;
			font-weight: 700;
			font-size: 40px;
			line-height: 44px;
		}
	}
}

.editor-styles-wrapper {
	blockquote {
		margin: 30px 0;
	}
	.wp-block p:not(.wp-block-cover-text) {
		font-size: 16px;
		line-height: 32px;
		font-weight: 400;
		color: var(--grey-color);
		margin-bottom: 32px;
	}
	.wp-block ol,
	.wp-block ul {
		ol, ul {
			margin-bottom: 0;
		}
		a {
			color: var(--dark-color);
			text-decoration: underline;
			-webkit-transition: opacity 0.3s ease-in;
			-moz-transition: opacity 0.3s ease-in;
			-ms-transition: opacity 0.3s ease-in;
			-o-transition: opacity 0.3s ease-in;
			transition: opacity 0.3s ease-in;
			&:hover {
				opacity: .5;
				text-decoration: underline;
			}
		}
	}
	.wp-block select {
		font-size: 16px;
		color: var(--grey-color);
		border-color: rgba(222,222,222,.75);
	}
	.wp-block ul,
	.wp-block ol {
		color: var(--grey-color);
		line-height: 32px;
		margin-bottom: 20px;
		font-size: 16px;
		margin-left: 0;
		li{
			margin-bottom: 0;
		}
	}
	.wp-block-freeform.block-library-rich-text__tinymce blockquote,
	.wp-block-quote {
		border: none !important;
		p {
			font-size: 24px;
			line-height: 1.5;
			color: var(--dark-color);
			font-weight: 400;
		}
		cite,
		.wp-block-quote__citation {
			color: var(--dark-color);
			font-weight: 400;
			font-size: 16px;
			line-height: 1.75;
			font-style: normal;
			margin-top: 42px;
			em{
				font-style: normal;
			}
			&::before{
				content: "\2014\00a0";
			}
		}
	}
	.wp-block-shortcode textarea {
		color: var(--grey-color);
		line-height: 1.7;
		font-size: 16px;
	}
	.wp-block-embed figcaption,
	.wp-block-video figcaption,
	.wp-block-image figcaption {
		font-size: 13px;
		line-height: 32px;
		font-weight: normal;
		text-align: center;
		margin-top: 0;
		color: #555d66;
		a {
			color: var(--dark-color);
			text-decoration: none;
			font-weight: 500;
			transition: opacity 0.3s ease-in;
			&:hover{
				opacity: .5;
				text-decoration: none;
			}
		}
	}
	strong, b {
		font-weight: 700;
	}
	p.wp-block-cover-text {
		line-height: 1.25;
		a {
			text-decoration: none;
			font-weight: 400;
		}
	}
	.wp-block-button__link{
		transition: opacity 0.3s ease-in;
		&:hover{
			opacity: .5;
			text-decoration: none;
		}
	}
	.wp-block-gallery .blocks-gallery-item{
		margin-bottom: 16px;
	}
	.wp-block-freeform.block-library-rich-text__tinymce blockquote,
	.wp-block .wp-block-quote {
		padding: 70px 0 0 0!important;
		color: var(--grey-color);
		position: relative;
		text-align: center;
		z-index: 10;
		min-height: 200px;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 200px;
			height: 200px;
			border: 14px solid #f2f2f2;
			z-index: -1;
		}
		&::after {
			content: "\f10e";
			font-family: "FontAwesome";
			font-size: 22px;
			position: absolute;
			top: 30px;
			left: 50%;
			transform: translateX(-50%);
			color: #111;
		}
		a {
			color: var(--dark-color);
			text-decoration: none;
			font-size: inherit;
			transition: opacity 0.3s ease-in;
			&:hover{
				opacity: .5;
				text-decoration: none;
			}
		}
		p {
			font-size: 33px;
			line-height: 40px;
			font-weight: 700;
			color: inherit;
			position: relative;
			z-index: 10;
		}
		&.is-style-large .wp-block-quote__citation {
			font-size: 16px;
			text-align: right;
		}
	}
	.wp-block-freeform.block-library-rich-text__tinymce blockquote p,
	.wp-block .wp-block-pullquote div p {
		font-size: 33px;
		line-height: 40px;
		font-weight: 700;
		color: inherit !important;
		position: relative;
		z-index: 10;
	}
	.wp-block-freeform.block-library-rich-text__tinymce blockquote cite,
	.wp-block .wp-block-pullquote div .wp-block-pullquote__citation {
		text-transform: none;
		color: var(--dark-color);
		font-size: 16px;
		&::before {
			content: "\2014\00a0";
		}
	}

	.wp-block-freeform.block-library-rich-text__tinymce blockquote.has-text-color cite,
	blockquote.has-text-color .wp-block-pullquote__citation,
	.wp-block .wp-block-pullquote.has-text-color div .wp-block-pullquote__citation {
		color: inherit!important;
	}

	.wp-block-freeform.block-library-rich-text__tinymce,
	.wp-block-heading {
		h1, h2, h3, h4, h5, h6 {
			font-weight: 700;
		}
	}
	.wp-block-freeform.block-library-rich-text__tinymce h1,
	.wp-block-heading h1 {
		font-size: 54px;
		line-height: 56px;
	}
	.wp-block-freeform.block-library-rich-text__tinymce h2,
	.wp-block-heading h2 {
		font-size: 40px;
		line-height: 44px;
	}
	.wp-block-freeform.block-library-rich-text__tinymce h3,
	.wp-block-heading h3 {
		font-size: 33px;
		line-height: 33px;
	}
	.wp-block-freeform.block-library-rich-text__tinymce h4,
	.wp-block-heading h4 {
		font-size: 20px;
		line-height: 32px;
	}
	.wp-block-freeform.block-library-rich-text__tinymce h5,
	.wp-block-heading h5 {
		font-size: 18px;
		line-height: 24px;
	}
	.wp-block-freeform.block-library-rich-text__tinymce h6,
	.wp-block-heading h6 {
		font-size: 14px;
		line-height: 18px;
	}
	.wp-block-file .editor-rich-text__tinymce  {
		transition: opacity 0.3s ease-in;
		&:hover{
			opacity: .5;
			text-decoration: none;
		}
	}
	.wp-block-file .wp-block-file__button {
		line-height: 1.23;
	}
	.wp-block-embed__wrapper{
		margin-bottom: 32px;
	}
	.wp-block-pullquote{
		color: var(--grey-color);
	}
	.wp-block-code {
		max-width: 100%;
		overflow: auto;
		border: none;
		border-radius: 0;
		padding: 0;
		textarea {
			border: 1px solid #cccccc;
			background-color: #f5f5f5;
			color: #111111;
			font-size: 16px;
			line-height: 32px;
			max-width: 100%;
			padding: 28px;
			border-radius: 4px;
			font-family: Inconsolata,monospace!important;
		}
	}
	.wp-block-html textarea {
		border: none;
		padding: 0;
	}
	.wp-block pre {
		border: 1px solid #cccccc;
		background-color: #f5f5f5;
		color: #111111;
		font-size: 16px;
		line-height: 32px;
		max-width: 100%;
		padding: 28px;
		border-radius: 4px;
		font-family: Inconsolata,monospace!important;
	}
	.wp-block-table {
		color: var(--grey-color);
		font-size: 16px;
		border-color: #cccccc !important;
		border-collapse: collapse;
		th, td {
			padding: 7px;
			border-color: #cccccc !important;
			font-size: 16px;
			line-height: 32px;
			* {
				padding: 0;
			}
		}
	}
}

.block-editor__container .wp-block-latest-posts,
.block-editor__container .wp-block-latest-comments{
	p{
		margin-top: 0!important;
	}
	li{
		margin-bottom: 15px!important;
		line-height: 32px;
		font-size: 16px;
		a{
			text-decoration: none;
			transition: opacity 0.3s ease-in;
			&:hover{
				opacity: .5;
				text-decoration: none;
			}
		}
	}
}

.block-editor__container .wp-block-latest-posts a{
	color: #111!important;
}

.block-editor ul.wp-block-latest-posts,
.block-editor ul.wp-block-archives,
.block-editor .wp-block-categories ul {
	padding-left: 1.5em;
	li a {
		font-size: 16px;
		line-height: 32px;
		font-weight: 400;
		color: var(--grey-color);
		text-decoration: none;
		transition: opacity 0.3s ease-in;
		&:hover {
			opacity: .5;
			text-decoration: none;
		}
	}
}

.block-editor .wp-block-latest-posts {
	padding-left: 1em;
}

.editor-styles-wrapper .wp-block p:not(.wp-block-cover-text){
	&.has-huge-font-size{
		line-height: 52px;
	}

	&.has-large-font-size{
		line-height: 40px;
	}
}

.wp-block-freeform.block-library-rich-text__tinymce .gallery .gallery-item{
	padding: 27px 5px 15px!important;
}

.wp-block-freeform.block-library-rich-text__tinymce {
	font-size: 16px;
	a {
		color: var(--dark-color);
		-webkit-transition: all 350ms ease;
		-moz-transition: all 350ms ease;
		-ms-transition: all 350ms ease;
		-o-transition: all 350ms ease;
		transition: all 350ms ease;
		text-decoration: none;
		font-size: 16px;
		&:hover {
			opacity: .5;
		}
	}

	code {
		background-color: var(--soft-grey-color);
		color: var(--dark-color);
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 500;
		margin-top: 0.8em;
		margin-bottom: 0.8em;
		line-height: 1.375;
		clear: both;
		color: var(--dark-color);
	}
	h4,
	h5,
	h6 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	table {
		border-collapse: separate;
		border-spacing: 0;
		border-width: 1px 0 0 1px;
		margin: 0 0 30px;
		table-layout: fixed;
		width: 100%;
		word-break: break-word;
		text-align: left;
	}
	dt {
		font-weight: 700;
	}
	table,
	th,
	table td,
	td {
		border: 1px solid #cccccc;
		border-collapse: collapse;
		padding: 7px;
		font-weight: 400;
		font-size: 16px;
		line-height: 32px;

	}
	th,
	td {
		color: var(--grey-color);
	}

	dt {
		color: var(--grey-color);
	}

	dt {
		color: var(--dark-color);
	}

	dd {
		margin: 0 0 30px;
		color: var(--grey-color);
	}

	dd.wp-caption-dd{
		color: #7e7d7d;
		font-size: 13px;
		font-style: italic;
		line-height: 1.6;
	}


	address {
		font-style: italic;
		margin-bottom: 30px;
		color: var(--grey-color);
	}

	abbr,
	acronym {
		border-bottom: 1px dotted var(--soft-grey-color);
		cursor: help;
	}

	code {
		font-family: Inconsolata, monospace;
		color: var(--light-color);
		background-color: var(--dark-color);
		padding: 2px 4px;
		font-size: 90%;
		border-radius: 4px;
		font-weight: 400;
	}

	mark,
	ins {
		background: #007acc;
		color: var(--light-color);
		padding: 0.125em 0.25em;
		text-decoration: none;
	}

	kbd {
		font-weight: 100;
		-webkit-box-shadow: none;
		box-shadow: none;
		color: #ffffff;
		background-color: #111111;
		padding: 2px 4px;
		border-radius: 4px;
	}

	var {
		font-family: Inconsolata,monospace!important;
	}

	p {
		color: var(--grey-color);
		line-height: 1.7;
		margin-bottom: 20px;
	}

	b,
	strong {
		font-weight: 600;
	}
	ol ol ul,
	ol ul ul,
	ul ol ul,
	ul ul ul {
		list-style-type: square;
	}
	ol,
	ul {
		color: var(--grey-color);
		line-height: 2;
		margin-bottom: 20px;
		font-size: 16px;
		padding-left: 0;

		ol,
		ul {
			margin-bottom: 0;
		}
	}

	ul {
		margin-left: 25px;
	}

	ol {
		margin-left: 25px;

		li {
			padding-left: 5px;
			line-height: 32px;
			a{
				text-decoration: none;
				transition: opacity 0.3s ease-in;
				&:hover{
					opacity: .5;
					text-decoration: none;
				}
			}
		}
	}

	tt {
		font-family: Inconsolata,monospace!important;
	}

	figcaption {
		font-size: 13px;
		line-height: 2;
		color: var(--grey-color);
		font-weight: normal;
		font-style: italic;
		margin-top: 16px;
		text-align: center;
	}

	blockquote {
		margin-top: 30px;
		margin-bottom: 30px;
		em{
			font-style: normal;
		}
		p,
		& {
			font-size: 24px;
			line-height: 1.5;
			color: var(--dark-color);
			font-weight: 400;
		}

		p {
			margin: 0;
		}
	}

	cite {
		margin-top: 30px;
		color: var(--grey-color);
		font-weight: 500;
		font-size: 16px;
		a {
			color: var(--grey-color);
			font-size: 12px;

			&:hover {
				color: var(--dark-color);
			}
		}
	}

	code, kbd, pre, samp {
		font-family: Inconsolata,monospace!important;
		font-size: 16px;
	}
	dd.gallery-caption{
		color: #7e7d7d;
		margin-top: 0;
		display: block;
		font-size: 13px;
		font-style: italic;
		line-height: 21px;
		padding-top: 7px;
	}
	pre {
		background: var(--soft-grey-color);
		font-size: 16px;
		line-height: 1.6;
		margin-bottom: 1.6em;
		max-width: 100%;
		overflow: auto;
		padding: 1.6em;

		* {
			margin: 0;
		}
	}
	figure {
		max-width: 100%;

		&.alignleft {
			margin: 0.375em 1.75em 1.75em 0;
		}

		&.alignright {
			margin: 0.375em 0 1.75em 1.75em;
		}
	}

}

.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2,
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2 {
	font-size: 30px;
}

@media only screen and (max-width: 1200px) {
	.edit-post-visual-editor .editor-post-title .editor-post-title__input {
		font-size: 35px;
	}
}

@media only screen and (max-width: 991px) {
	.edit-post-visual-editor .editor-post-title .editor-post-title__input {
		font-size: 32px;
	}
	.wp-block-freeform.block-library-rich-text__tinymce blockquote p,
	.editor-styles-wrapper .wp-block .wp-block-pullquote div p,
	.editor-styles-wrapper .wp-block .wp-block-quote p {
		font-size: 21px;
	}
}

@media only screen and (max-width: 768px) {
	.wp-block-freeform.block-library-rich-text__tinymce,
	.editor-styles-wrapper {
		.wp-block-heading h1 {
			font-size: 32px;
		}
		.wp-block-heading h2 {
			font-size: 28px;
		}
		.wp-block-heading h3 {
			font-size: 25px;
		}
		.wp-block-heading h4 {
			font-size: 22px;
		}
		.wp-block-heading h5 {
			font-size: 17px;
		}
		.wp-block-heading h6 {
			font-size: 13px;
		}
	}
}

@media only screen and (max-width: 767px) {
	.edit-post-visual-editor .editor-post-title .editor-post-title__input {
		font-size: 27px;
	}
	.wp-block-freeform.block-library-rich-text__tinymce blockquote p,
	.editor-styles-wrapper .wp-block .wp-block-pullquote div p,
	.editor-styles-wrapper .wp-block .wp-block-quote p {
		font-size: 18px;
	}
}

@media only screen and (max-width: 599px) {
	.edit-post-visual-editor {
		.editor-post-title {
			padding: 0;
		}
	}
}

@media only screen and (max-width: 575px) {
	.edit-post-visual-editor .editor-post-title .editor-post-title__input {
		font-size: 24px;
	}
}
